target
out
src/main/resources/Relembrar - Povoada sem desaparecimentos.owl
src/main/resources/Relembrar - Povoada com desaparecimentos.owl
src/main/resources/Relembrar - Original.owl
src/main/resources/reset.bat
